/**
 *
 *  Title  : Amazon.co.jp with LINKIT-II
 *  Author : tknhs
 *
 **/

/* amalinで作成したDOM */
.amalin, .amalin-affi {
  margin: 10px 0px;
  font-family: 'メイリオ', Meiryo, sans-serif;
  font-size: 125%;
  color: #990012;
}

/* メインコンテンツ */
.amalin-content {
  display:inline;
  border: none;
  border-radius: 5px;
  margin: 0px 50px;
  padding: 5px 15px;
  text-align: center;
  font-size: 110%;
}
.amalin-content1 {
  background-color: #dddddd;
  color: #006400;
}
/* メインコンテンツをホバー */
.amalin-content1:hover {
  background-color: #cccccc;
}

/* 保管・貸出 */
.amalin-sub {
  font-size: 80%;
}
.amalin-sub1 {
  color: blue;
}
.amalin-sub2 {
  color: red;
}

/* アソシエイト */
.amalin-affi {
  border: 1px solid transparent;
  border-radius: 5px;
  display:inline;
  font-size: 70%;
  margin-left: -40px;
  padding: 0px 4px;
}
.amalin-affi0 {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.amalin-affi1 {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

