body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  min-width: 400px;
  background-color: #e8d3c7;
}

/**
 * ionTabs
 **/
div#tabs_bus.ionTabs, div#tabs_location.ionTabs, div#tabs_day.ionTabs {
  margin: 0px;
}
div#Tab__tabs_group_bus__tab_time, div#Tab__tabs_group_bus__tab_sche,
div#Tab__tabs_group_location__tab_yatsukaho, div#Tab__tabs_group_location__tab_ohgi,
div#Tab__tabs_group_day__tab_weekday, div#Tab__tabs_group_day__tab_sunday {
  padding: 0px;
  margin-bottom: 30px;
}
li#Button__tabs_group_bus__tab_time.ionTabs__tab.ionTabs__tab_state_active,
li#Button__tabs_group_bus__tab_sche.ionTabs__tab.ionTabs__tab_state_active,
li#Button__tabs_group_location__tab_ohgi.ionTabs__tab.ionTabs__tab_state_active,
li#Button__tabs_group_location__tab_yatsukaho.ionTabs__tab.ionTabs__tab_state_active,
li#Button__tabs_group_day__tab_weekday.ionTabs__tab.ionTabs__tab_state_active,
li#Button__tabs_group_day__tab_sunday.ionTabs__tab.ionTabs__tab_state_active {
  font-size: 125%;
}
li#Button__tabs_group_location__tab_ohgi.ionTabs__tab_state_active {
  background-color: #c7f9c7;
}
li#Button__tabs_group_location__tab_yatsukaho.ionTabs__tab_state_active {
  background-color: #FFFACD;
}
li#Button__tabs_group_day__tab_weekday.ionTabs__tab_state_active {
  background-color: #c7e0f9;
}
li#Button__tabs_group_day__tab_sunday.ionTabs__tab_state_active {
  background-color: #f9c7da;
}

.date_schedule {
  text-align: center;
  padding: 10px 0px;
  margin: 0px;
  background-color: #F0FFFF;
}
div#o2y {
  padding-bottom: 10px;
  background-color: #c7f9c7;
}
div#y2o {
  padding-bottom: 10px;
  background-color: #FFFACD;
}
#o2y_remain_time {
  margin: 0px 0px 10px 0px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 150%;
  background-color: #F0FFFF;
}
#y2o_remain_time {
  margin: 0px 0px 10px 0px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 150%;
  background-color: #F0FFFF;
}
table, div#y2o {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
th, tr {
  min-width: 100px;
  padding: 5px;
}
tr.bus_now {
  background-color: #ffcc00;
}
ul#bus_weekday {
  margin: 0px;
  padding: 10px;
  background-color: #c7e0f9;
}
ul#bus_sunday {
  margin: 0px;
  padding: 10px;
  background-color: #f9c7da;
}
p.bus_service {
  margin: 5px;
  font-size: 125%;
  text-align: center;
}
#last_update {
  position: fixed;
  bottom: 0px;
  right: 10px;
}
