/**
 *
 *  Title  : Auto Login for Student Portal
 *  Author : tknhs
 *
 **/

body {
  font-family: 'メイリオ', Meiryo, sans-serif;
  padding: 10px 50px;
  background-color: #e8d3c7; /* haiume */
}
label {
  display: block;
  float: left;
  text-align: right;
  font-size: 150%;
}
br {
  clear: left;
}
#settings_style, .iToggle, .dropdown {
  margin: 10px 0px 20px 100px;
}

/* タブ */
.tab_content {
  padding: 20px;
}
ul.tab {
  margin: 0;
  padding: 0;
  border-bottom: 2px #ddd solid;
}
ul.tab li {
  float: left;
  margin: 0 0 0 5px;
  position: relative;
  bottom: -2px;
  list-style-type: none;
  border: 1px #ddd solid;
  border-top: none;
  border-bottom: 2px #ddd solid;
  width:100px;
  text-align:center;
}
ul.tab li.none {
  border-bottom: 2px #fff solid;
  background: #eee;
}
ul.tab li a {
  color: #000;
  display: block;
  padding: 3px 10px 5px;
  text-decoration: none;
}
ul.tab li a.green {
  border-top: 5px #4cbb47 solid;
}
ul.tab li a.red {
  border-top: 5px #dd1d25 solid;
}
ul.tab li a.yellow {
  border-top: 5px #ffd242 solid;
}
ul.tab li a.blue {
  border-top: 5px #1E90FF solid;
}
/* clerfix */
.clear:after {
  content:"";
  display:block;
  overflow:hidden;
  clear: both;
}
.clear {
  zoom:1;
}
